{% extends "parent.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<h1>{{title}}</h1>

<form method="post">
<div>
<label >Username
	<input type="text" name="username" value="{{username}}">
</label>
</div>

<div>
<label >Password
	<input type="password" name="password">
</label>
</div>

<div>
<label >Verify
	<input type="password" name="verify">
</label>
</div>

<div>
<label >Email
	<input type="text" name="email">
</label>
</div>

<div>
<input  type="submit">
</div>

<div class="message">
{{message}}
</div>
</form>

{% endblock %}

