{% extends "parent.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-1 col-md-offset-10">
		<a href="/addedit?q=add">{{add}}</a> 
	</div>
	<div class="col-md-1 ">
	    <a href="/{{status}}">{{status}}</a> 
	</div>
</div>

<div class="row">
<div class="col-md-6 col-md-offset-3 main">
<h1 class="text-center">{{title}}</h1>
<hr>
</div>

{% for article in articles %}
<div class="row ">
		
	<div class="col-md-6 col-md-offset-3 main ">
		<a class="posts" href="/{{article.key().id()}}">
			<div class="row">
				<h3>{{article.title}}</h3>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-9">
					<h4 class="text-right"><small>{{article.username}}</small></h4>
				</div>
				
			</div>
			<div class="row">
				{{article.content[:200]|safe}}
			</div>
		</a>
		<hr>
	</div>
	
</div>
	

{% endfor %}


{% endblock %}
